/*!
 * Project_Name: Themezy Diatecian Template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*===========================================  Importing CSS Libraries ===========================================*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

    a:focus {
        outline: thin dotted;
    }

    a:hover, a:active {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

    q:before, q:after {
        content: '';
        content: none;
    }

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

#menu-button{
   float:right;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    background-color: #f2efdc;
    color: #898670;
}

a {
    text-decoration: none;
    color: #f16a54;
    font-weight: 400;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

/* Reusable Components Style */
.button {
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: 14px;
    font-size: 0.875rem;
}

.feature {
    text-align: center;
}

    .feature .feature-icon {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 20px;
        display: inline-block;
        padding-top: 70px;
    }

        .feature .feature-icon [class^="icon-"] {
            font-size: 100px;
            font-size: 6.25rem;
            color: #f2efdc;
        }

    .feature .feature-title {
        font-size: 24px;
        font-size: 1.5rem;
        margin: 0 0 10px;
    }

    .feature.color-purple .feature-icon {
        background-color: #48172d;
    }

    .feature.color-purple .feature-title {
        color: #48172d;
    }

    .feature.color-green .feature-icon {
        background-color: #889c29;
    }

    .feature.color-green .feature-title {
        color: #889c29;
    }

    .feature.color-pink .feature-icon {
        background-color: #f16a54;
    }

    .feature.color-pink .feature-title {
        color: #f16a54;
    }

    .feature.color-orange .feature-icon {
        background-color: #fbab18;
    }

    .feature.color-orange .feature-title {
        color: #fbab18;
    }

.map {
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.contact-detail {
    border-radius: 30px;
    padding: 20px;
    border: 3px solid #e1dece;
    text-align: center;
    margin-bottom: 30px;
}

    .contact-detail img {
        vertical-align: middle;
        margin-right: 5px;
    }

    .contact-detail span {
        margin-right: 10px;
        display: inline-block;
    }

.contact-form input:not([type="submit"]), .contact-form textarea {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 14px;
    font-size: 0.875rem;
    border: 2px solid white;
    margin-bottom: 20px;
    outline: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .contact-form input:not([type="submit"]):hover, .contact-form input:not([type="submit"]):focus, .contact-form textarea:hover, .contact-form textarea:focus {
        border-color: #f16a54;
    }

.contact-form textarea {
    height: 220px;
}

.contact-form input[type="submit"] {
    float: right;
    background-color: #f16a54;
    color: #f2efdc;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:focus {
        background-color: #f59383;
    }


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

    .container-fluid:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

.row {
    margin-left: -15px;
    margin-right: -15px;
    *zoom: 1;
}

    .row:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }


@-ms-viewport {
    width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    th.visible-xs, td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    th.visible-sm, td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table;
    }

    tr.visible-md {
        display: table-row !important;
    }

    th.visible-md, td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg, td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print, td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}
/* Header Styles */
.site-header {
    text-align: center;
    background: white;
}

.homepage .site-header .main-navigation {
    float: none;
    margin: 0 auto;
}

@media screen and (max-width: 990px) {
    .homepage .site-header .main-navigation {
        float: right;
    }
}

.site-header .main-navigation .menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
}

@media screen and (max-width: 990px) {
    .site-header .main-navigation .menu {
        display: none;
    }
}

@media screen and (min-width: 991px) {
    .site-header .main-navigation .menu {
        display: inline-block;
    }
}

.site-header .main-navigation .menu-item {
    display: inline-block;
    padding: 30px 0;
    margin: 0;
}

    .site-header .main-navigation .menu-item a {
        display: inline-block;
        padding: 0 20px;
        line-height: 1;
        color: #9d9879;
        font-weight: 400;
        font-size: 14px;
        font-size: 0.875rem;
        border-bottom: 2px solid transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        border-right: 1px solid #9d9879;
    }

    .site-header .main-navigation .menu-item:last-child a {
        border-right: none;
    }

    .site-header .main-navigation .menu-item.current-menu-item, .site-header .main-navigation .menu-item:hover {
        color: #f16a54;
        border-bottom: 2px solid #f16a54;
    }

        .site-header .main-navigation .menu-item.current-menu-item a, .site-header .main-navigation .menu-item:hover a {
            color: #f16a54;
        }

#branding {
    padding: 20px 0;
}

.homepage #branding {
    display: none;
}

@media screen and (max-width: 990px) {
    .homepage #branding {
        display: block;
    }
}

#branding .logo {
    color: #f16a54;
    font-size: 32px;
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 10px;
}

#branding .site-title {
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    vertical-align: middle;
}

    #branding .site-title a {
        color: #9d9879;
    }

.menu-toggle {
    border: none;
    background: transparent;
    color: #9d9879;
    display: inline-block;
    margin-top: 30px;
}

@media screen and (max-width: 990px) {
    .menu-toggle {
        display: block;
    }
}

@media screen and (min-width: 991px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-navigation {
    clear: both;
    display: none;
}

@media screen and (min-width: 991px) {
    .mobile-navigation {
        display: none !important;
    }
}

.mobile-navigation .menu {
    list-style: none;
}

    .mobile-navigation .menu a {
        display: block;
        padding: 10px 0;
        color: #898670;
    }

        .mobile-navigation .menu a:hover {
            color: #f16a54;
        }

    .mobile-navigation .menu .current-menu-item a {
        color: #f16a54;
    }


/* Footer Styles */
.site-footer {
    text-align: center;
    padding: 50px 0;
    background-color: white;
    color: #9d9879;
}

    .site-footer .logo {
        font-size: 60px;
        font-size: 3.75rem;
        color: #e1dece;
    }

    .site-footer .footer-navigation {
        padding: 30px 0;
    }

        .site-footer .footer-navigation a {
            display: inline-block;
            padding: 0 20px;
            line-height: 1;
            color: #9d9879;
            font-weight: 400;
            border-right: 1px solid #9d9879;
            font-size: 14px;
            font-size: 0.875rem;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

@media screen and (max-width: 480px) {
    .site-footer .footer-navigation a {
        display: block;
        padding: 10px 0;
        border-right: none;
    }
}

.site-footer .footer-navigation a:hover {
    color: #f16a54;
}

.site-footer .footer-navigation a:last-child {
    border-right: none;
}

.site-footer .subscribe {
    position: relative;
    display: inline-block;
    width: 50%;
}

@media screen and (max-width: 990px) {
    .site-footer .subscribe {
        width: 100%;
    }
}

.site-footer .subscribe input {
    outline: none;
}

    .site-footer .subscribe input[type="text"] {
        width: 100%;
        padding: 15px 20px;
        border-radius: 25px;
        border: 3px solid #e1dece;
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

        .site-footer .subscribe input[type="text"]:focus, .site-footer .subscribe input[type="text"]:active {
            border-color: #f16a54;
        }

    .site-footer .subscribe input[type="submit"] {
        position: absolute;
        right: 6px;
        top: 6px;
        background-color: #f16a54;
        color: #f2efdc;
        padding: 12px 20px;
        border-radius: 20px;
        border: none;
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

        .site-footer .subscribe input[type="submit"]:focus, .site-footer .subscribe input[type="submit"]:active {
            background-color: #f59383;
        }

.site-footer .social-links {
    padding: 30px 0;
}

    .site-footer .social-links a {
        color: white;
        text-align: center;
        line-height: 1.9;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        font-size: 26px;
        font-size: 1.625rem;
    }

    .site-footer .social-links .facebook {
        background-color: #3b5a9b;
    }

        .site-footer .social-links .facebook:hover {
            background-color: #4e71bb;
        }

    .site-footer .social-links .twitter {
        background-color: #1c9ac7;
    }

        .site-footer .social-links .twitter:hover {
            background-color: #34b4e2;
        }

    .site-footer .social-links .google-plus {
        background-color: #dd4b39;
    }

        .site-footer .social-links .google-plus:hover {
            background-color: #e47365;
        }

    .site-footer .social-links .pinterest {
        background-color: #d11e2e;
    }

        .site-footer .social-links .pinterest:hover {
            background-color: #e33f4d;
        }

.site-footer .colophon {
    font-size: 14px;
    font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
