
@{
    ViewBag.Title = "Contact";
}

<main class="main-content">

    <div class="content">
        <div class="container">

            <h2 class="entry-title">İletişim</h2>


            <!-- <div class="contact-detail">
        <span class="location"><img src="~/Images/icon-map-marker-alt.png"> 559 Avenue Street, New York</span>
        <span class="email"><img src="~/Images/icon-envelope.png"> <a href="mailto:office@companyname.com">office@companyname.com</a></span>
        <span class="phone"><img src="~/Images/icon-phone.png"> <a href="tel:(942)321490234">(942) 321 490 234</a></span>
    </div> -->

            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/Assets/img/img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Muhammed Ali Özkaya</h4>
                    <p class="card-text">192802055</p>
                </div>
            </div>

            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/Assets/img/img_avatar5.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Beyza Erdem</h4>
                    <p class="card-text">192803045</p>
                </div>
            </div>

            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/Assets/img/img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Salih Özkara</h4>
                    <p class="card-text">192802010</p>
                </div>
            </div>


            <div class="map"></div>

            <div class="contact-form">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" placeholder="Your name...">
                        <input type="text" placeholder="Email...">
                        <input type="text" placeholder="Website...">
                    </div>
                    <div class="col-md-7">
                        <textarea placeholder="Message..."></textarea>
                        <input type="submit" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main> <!-- .main-content -->
