
@{
    ViewBag.Title = "Diets";
}

<main class="main-content">

    <div class="content">
        <div class="container">

            <h2 class="entry-title">DİYETLER</h2>
      
            <div class="recipes-list">
                <article class="recipe">
                    <figure class="recipe-image"><img src="~/Images/akdenizsalatası.jpg" alt="Food 1"></figure>
                    <div class="recipe-detail">
                        <h2 class="recipe-title"><a href="single.html">AKDENİZ</a></h2
                        <div class="recipe-meta">
                            <span class="time"><img src="~/Images/icon-time.png"> 40 min</span>
                            <span class="calorie"><img src="~/Images/icon-pie-chart.png"> 320 kcal</span>
                            <span class="comment"><img src="~/Images/icon-comment.png"> 16 comments</span>
                        </div>
                    </div>
                </article>
                <article class="recipe">
                    <figure class="recipe-image"><img src="~/Images/glutenfree.jpg" alt="Food 2"></figure>
                    <div class="recipe-detail">
                        <h2 class="recipe-title"><a href="single.html">GLUTEN FREE</a></h2>
                        <div class="recipe-meta">
                            <span class="time"><img src="~/Images/icon-time.png"> 40 min</span>
                            <span class="calorie"><img src="~/Images/icon-pie-chart.png"> 320 kcal</span>
                            <span class="comment"><img src="~/Images/icon-comment.png"> 16 comments</span>
                        </div>
                    </div>
                </article>
                <article class="recipe">
                    <figure class="recipe-image"><img src="~/Images/denizürünleri.jpg" alt="Food 3"></figure>
                    <div class="recipe-detail">
                        <h2 class="recipe-title"><a href="single.html">DENİZ ÜRÜNLERİ</a></h2>
                        <div class="recipe-meta">
                            <span class="time"><img src="~/Images/icon-time.png"> 40 min</span>
                            <span class="calorie"><img src="~/Images/icon-pie-chart.png"> 320 kcal</span>
                            <span class="comment"><img src="~/Images/icon-comment.png"> 16 comments</span>
                        </div>
                    </div>
                </article>
                <article class="recipe">
                    <figure class="recipe-image"><img src="~/Images/yeşilliklerdünyası.jpg" alt="Food 4"></figure>
                    <div class="recipe-detail">
                        <h2 class="recipe-title"><a href="single.html">YEŞİLLİKLER DÜNYASI</a></h2>
                        <div class="recipe-meta">
                            <span class="time"><img src="~/Images/icon-time.png"> 40 min</span>
                            <span class="calorie"><img src="~/Images/icon-pie-chart.png"> 320 kcal</span>
                            <span class="comment"><img src="~/Images/icon-comment.png"> 16 comments</span>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>

</main> <!-- .main-content -->
