
@model IEnumerable<WebUI.Entity.Diets.Abstract.Diet>

<main class="main-content">

    <div class="content">
        <div class="container">

            <h2 class="entry-title">DİYETLER</h2>

            <div class="recipes-list">

                @foreach (var item in Model)
                {
                    <article class="recipe">
                        <figure class="recipe-image"><img src="~/Images/akdenizsalatası.jpg" alt="Food 1"></figure>
                        <div class="recipe-detail">
                            <h2 class="recipe-title"><a href="single.html">@item.Name</a></h2>
                            <div class="recipe-meta">
                                <span class="calorie"><i class="fas fa-apple-alt fa-lg"></i> @item.Description</span>
                            </div>
                        </div>
                    </article>
                }

            </div>
        </div>
    </div>

</main> <!-- .main-content -->
