<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Assets/fonts/iconmoon.css" rel="stylesheet" />


    <link href="~/Assets/css/custom.css" rel="stylesheet" />

    <style>
        #profile {
            position: absolute;
            top: 25px;
            left: 50px;
            z-index: 100;
            font-size:20px;
        }
    </style>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <!-- Default snippet for navigation -->
            <div class="main-navigation pull-right">
                <button id="menu-button" type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="/Dietician/AddPatient">Hasta Ekle</a></li>
                    <li class="menu-item"><a href="/Dietician">Hastaları Görüntüle</a></li>
                    <li class="menu-item"><a href="/Account/Logout">Çıkış</a></li>
                </ul> <!-- .menu -->
            </div> <!-- .main-navigation -->
            <div id="profile"> 
            <i class="fas fa-user-circle"></i>
                @Session["userName"]
            </div>
            <div class="mobile-navigation"></div>
        </div>
    </header>
    <div class="container p-3" style="padding-top:5rem!important">
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="container">
            <i class="icon-cupcake logo"></i>
            <nav class="footer-navigation">
                <a href="/">Ana Sayfa</a>
                <a href="/Home/Dieticians">Diyetisyenler</a>
                <a href="/Home/Diets">Diyetler</a>
                <a href="/Home/Contact">İletişim</a>
            </nav>
            <div class="colophon">
                <p>Haziran 2021</p>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="~/Assets/js/app.js"></script>
</body>
</html>